@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.main-container {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    width: 500px;
    margin: 0;
    padding: 0;
}

.user-navigation {
    max-width: 350px;
    margin-left: auto;
}


.page-container {
    width: 1200px;
    margin: 0 auto;
}

.image-welcome {
    display: block;
    margin: 0 auto;
}


.navigation-link {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 20px ;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.navigation-item-extra .navigation-link {
    color: #ffffff;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.navigation-logo {
    width: 140px;
    margin-right: 30px;
    margin-left: 70px;
}

.welcome-logo  {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.intro {
    width: 1200px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro .intro-title {
    width: 620px;
    height: 72px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.intro .intro-text {
    width: 653px;
    height: 26px;
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}
  
.advantages-container-wrapper {
    color: #ffffff;
    background-color: #82B3D3;
    display: flex;
}

.advantages-container-wrapper-main {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.advantages-extra-list {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 383px;
    justify-content: center;
}

.advantages-extra-list-item {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.advantages-items {
    width: 400px;
    height: 384px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.advantages-serial-number {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.advantages-container-wrapper .advantages-list-text {
    color: #ffffff;
    background-color: #82B3D3;
}

.advantages-list-text {
    width: 230px;
    color:#333333;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.advantages-extra-list-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.advantages-extra-list-text {
    color:#333333;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.advantages-extra-list-item-wrapper {
    background-color: #F0F6FA;
}

.advantages-extra-list-item-tools {
    background-color: #ffffff;
}

.advantages-item-tools {
    background-color:#E6F0F6;
}

.search-hotels-intro {
    color:#000000;
    background-color:#ffffff;
    width: 1200px;
    height: 417px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-hotels-intro .search-hotels-intro-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 297px;
    height: 36px;
}

.search-hotels-intro .search-hotels-intro-text {
    color:#333333;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    width: 592px;
    height: 52px;
}

.search-hotels-intro-button {
    color:#ffffff;
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 544px;
    height: 36px;
}

.newsletter-index {
    color:#000000;
    background-color: #ffffff;
    background-image: url("../images/background-footer.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter-index .newsletter-title {
    color:#ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: -50px;
}

.newsletter-index .newsletter-text {
    color:#ffffff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    width: 475px;
    height: 52px;
    margin-bottom: 40px;
}

.newsletter-input {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    width: 800px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

input[type="text" i] {
    width: 600px;
    height: 60px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.newsletter-button {
    font-family: "PT Sans", Arial, sans-serif;
    color:#ffffff;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
}

.footer-phone-link {
    color:#000000;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.page-footer {
    display: flex;
    width: 1200px;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.social-list {
    display: flex;
    width: 116px;
    height: 17px;
    margin-left: 72px;
}

.main-header {
    color:#000000;
    background-color: #ffffff;
    background-image: url("../images/background-catalog.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.inner-header .inner-header-title {
    font-family: "PT Sans", Arial, sans-serif;
    color:#ffffff;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    text-align: left;
}

.breadcrumbs-link {
    color:#ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.filters-legend {
    color:#ffffff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
}

.filters-label {
    color:#ffffff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.select-button {
    font-family: "PT Sans", Arial, sans-serif;
    color: #ffffff;
    background-color: #82B3D3;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.reset-button {
    font-family: "PT Sans", Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.hotels-sorted {
    width: 1057px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 57px;
}

.number-of-hotels {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: left;
    margin-left: 73px;
}

.select-control {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.view-type-link-first {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/icon-table-1.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.view-type-link-second {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/icon-table-2.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.view-type-link-three {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/icon-table-3.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-item {
    width: 1056px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 73px;
}

.catalog-card {
    width: 340px;
    height: 438px;
}

.catalog {
    width: 1056px;
    height: 876px;
}

.catalog-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: left;
}

.name-catalog-type {
    color:#333333;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.catalog-card-price {
    color:#333333;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left; 
}

.catalog-card-button-wrapper {
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-card-button {
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    background-color:#82B3D3;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center; 
    text-decoration: none;
    text-transform: uppercase;
}

.button-insert {
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    background-color:#7DB54F;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.rating {
    color:#333333;
    background-color:#F2F2F2;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.pagination {
    display: flex;
    width: 370px;
    justify-content: space-evenly;
}

.pagination-current {
    background-color: #f2f2f2;
    color: #000000;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.pagination-link {
    background-color: #83B3D3;
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.items-per-page {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.select-control-number {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.newsletter-catalog {
    color:#000000;
    background-color: #ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter-catalog .newsletter-title {
    color:#000000;
    background-color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.newsletter-catalog .newsletter-text {
    color:#000000;
    background-color: #ffffff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.main-header {
    display: flex;

}