@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.page-body {
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.page-body {
  width: 1200px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
}

.navigation-list {
  height: 66px;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 16px;
}

.user-navigation {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.button-navigation {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 161px;
  height: 37px;
  margin-left: 27.3px;
  margin-right: 70px;
  border: none;
  border-radius: 5px;
}

.navigation-item-search {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 30px;
  margin: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.navigation-item-like {
  margin: 0;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 22.52px;
  width: 24px;
}

.like {
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  font-size: 10px;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  line-height: 20px;
}

.navigation-item-extra {
  margin: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.image-welcome {
  margin: 51px;
  margin-left: auto;
  margin-right: auto;
}

.navigation-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-item {
  list-style: none;
  margin-right: 34px;
  padding-top: 20px;
}

.navigation-item-wrapper {
  min-width: 82px;
}

.navigation-item-link {
  padding-top: 20px;
  border-bottom: 3px solid #756257;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
  margin-left: 70px;
}

.welcome-logo {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/vector.svg), url(../images/index-background.jpg);
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 90px;
  background-color: #ffffff;
}

.intro .intro-title {
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.intro .intro-text {
  width: 655px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.advantages-extra {
  list-style: none;
}

.advantages-item {
  list-style: none;
}

.advantages-container-wrapper {
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
}

.advantages-container-wrapper-main {
  width: 400px;
  padding-top: 92px;
  padding-bottom: 92px;
}

.advantages-extra-list {
  display: flex;
  padding: 0;
}

.advantages-extra-list-item {
  width: 400px;
  list-style-type: none;
  padding-top: 182.5px;
  padding-bottom: 79.5px;
}

.advantages-list {
  padding: 0;
  margin: 0;
}

.advantages-items {
  width: 400px;
  list-style-type: none;
  padding-top: 103px;
  padding-bottom: 82px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-serial-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-container-wrapper .advantages-list-text {
  color: #ffffff;
  background-color: #82B3D3;
  margin: 0 auto;
}

.advantages-list-text {
  width: 230px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.advantages-extra-list-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-extra-list-text {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  width: 230px;
  margin: 0 auto;
}

.advantages-extra-list-item-wrapper {
  background-color: #F0F6FA;
}

.advantages-extra-list-first {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position-x: 162.65px;
  background-position-y: 80.5px;
}

.advantages-extra-list-second {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position-x: 162.65px;
  background-position-y: 80.5px;
}

.advantages-extra-list-three {
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  background-position-x: 167.65px;
  background-position-y: 79.5px;
}

.advantages-extra-list-item-tools {
  background-color: #ffffff;
}

.advantages-item-tools {
  background-color: #E6F0F6;
}

.search-hotels-intro {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.search-hotels-intro .search-hotels-intro-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 297px;
  margin: 0;
  margin-bottom: 29px;
}

.search-hotels-intro .search-hotels-intro-text {
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  width: 592px;
  margin: 0;
  margin-bottom: 56px;
}

.search-hotels-intro-button {
  color: #ffffff;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 574px;
  height: 60px;
  margin: 0;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
}

.newsletter-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-footer.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-index .newsletter-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  width: 404px;
}

.newsletter-index .newsletter-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  width: 475px;
  margin: 0px;
  margin-bottom: 46px;
  width: 476px;
}

.newsletter-catalog .newsletter-title {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  width: 404px;
}

.newsletter-catalog .newsletter-text {
  color: #333333;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  margin-bottom: 46px;
  width: 476px;
}

.newsletter-input {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  width: 800px;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.newsletter-input input[type="text" i] {
  width: 600px;
  height: 60px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  padding: 0;
  border: 0;
  border-radius: 11px 0 0 11px;
  background-color: #e5e5e5;
  padding-left: 21px;
  padding-top: 4px;
  box-sizing: border-box;
}

.newsletter-button {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.footer-phone-link {
  color: #000000;
  background-color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0;
  margin-left: 4px;
}

.footer-phone-link:hover {
  color: #756157;
}

.footer-phone-link:focus {
  color: #756157;
  outline: none;
}

.footer-phone-link:active {
  color: #D6D0CD;
}

.copyright-link-logo:hover path {
  fill: #756157;
}

.copyright-link:focus path {
  fill: #756157;
}

.copyright-link-logo:active path {
  fill: #D6D0CD;
}

.copyright-logo {
  fill: #000000;
  outline: none;
}

.copyright-link {
  outline: none;
}

.social-link:hover path {
  fill: #68A2CA;
}

.social-link:focus path {
  fill: #68A2CA;
}

.social-link-networks:active path {
  fill: #D2E3EF;
}

.social-logo {
  fill: #83B3D3;
}

.range-input:hover {
  border-color: #B3B9BC;
}

.range-input:focus {
  box-shadow: 0 0 0 3px #81B3D2,
  inset 0 0 0 3px #81B3D2;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-input:active {
  background-color: #756257;
}

.range-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  outline: none;
}

.range-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 45px 70px 35px 81px;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  width: 116px;
  height: 17px;
  list-style: none;
  column-gap: 26px;
  padding: 0;
  margin: 0;
  margin-left: 72px;
  margin-right: 247px;
  margin-left: 0;
  margin-top: -6px;
}

.social-link {
  outline: none;
}

.youtube-logo:active {
  color: #D2E3EF;
}

.copyright-link {
  margin-left: auto;
  margin-top: 5px;
}

.inner-header .inner-header-title {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 7px;
}

.breadcrumbs {
  margin-top: 0;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.arrow {
  background-image: url(../images/vector-right.svg);
  background-repeat: no-repeat;
  width: 5.11px;
  height: 7.95px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  list-style: none;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin-left: 2px;
  text-decoration: none;
}

.breadcrumbs-item-home {
  margin-right: 9px;
}

.breadcrumbs-item-home:hover path {
  fill: #C5C7CD;
}

.breadcrumbs-item-home:focus path {
  fill: #FFFFFF;
  outline: none;
}

.breadcrumbs-item-home:active path {
  fill: #7F8582;
}

.breadcrumbs-link:hover {
  color: #C5C7CD;
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
  outline: none;
}

.breadcrumbs-link:active {
  color: #7F8582;
}

.breadcrumbs-item {
  list-style: none;
}

.filters-fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.field-group input[type="text"] {
  padding-left: 23px;
}

.field-mans input[type="number"]::-webkit-outer-spin-button,
.field-mans input[type="number"]::-webkit-inner-spin-button, {
  -webkit-appearance: none;
  margin: 0;
}

.field-mans input[type="number"] {
  -moz-appearance: textfield;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filters-fieldset:nth-child(2) {
  margin-left: 70px;
}

.filters-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.filters-legend {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin-bottom: 27px;
}

.filters-list {
  padding: 0;
  margin: 0;
}

.filters-label {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-mark:hover {
  background-color: #cfdde9;
}

.control-mark:focus {
  background-color: #cbd9e7;
  border: 3px solid #83B3D3;
 }

 .control-mark:active {
  background-color: #a2bad4;
 }

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  width: 12px;
  height: 10px;
  background-image: url(../images/check-mark.svg);
  top: 5px;
  left: 4px;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 8px 14px;
  padding-right: 48px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 287px;
  height: 48px;
  margin-right: 78px;
  margin-left: 191px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  padding-left: 18px;
}

.range-input {
  margin-left: -6px;
  background-color: transparent;
  box-sizing: border-box;
  height: 54px;
  color: #ffffff;
  padding-left: 17px;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.filters-item {
  list-style: none;
  margin-bottom: 12px;
}

.select-button {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 4px;
  margin-bottom: 14px;
}

.reset-button {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  background: transparent;
  border: none;
  width: 88px;
  height: 29px;
  margin-left: 35px;
  margin-top: 1px;
}

.hotels-sorted {
  text-align: center;
  display: flex;
  padding: 43px 71px 49px 72px;
  margin-bottom: 7px;
  background-color: #ffffff;
}

.catalog-card-image {
  margin-bottom: 11px;
}

.catalog-card-name {
  text-decoration: none;
  color: #000000;
}

.number-of-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.hotels-found {
  line-height: 38px;
  text-transform: uppercase;
  padding-top: 8px;
}

.view-type-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 163px;
  height: 48px;
  display: flex;
  margin-left: auto;
}

.view-type-item {
  margin-right: 8px;
}

.view-type-item:nth-child(1) {
  border-radius: 4px;
  color: #000000;
  background-color: #ffffff;
  background-image: url(../images/icon-table-1.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  outline: none;
  margin-left: 3px;
}

.view-type-item-wrapper {
  border: 2px solid #000000;
}

.view-type-item:nth-child(2) {
  border: 2px solid #EEEEEE;
  border-radius: 4px;
  color: #000000;
  background-color: #ffffff;
  background-image: url(../images/icon-table-2.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  outline: none;
}

.view-type-item:nth-child(3) {
  border: 2px solid #EEEEEE;
  border-radius: 4px;
  color: #000000;
  background-color: #ffffff;
  background-image: url(../images/icon-table-3.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  outline: none;
}

.view-type-item .button {
  width: 48px;
  height: 48px;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  outline: none;
}

.view-type-item:hover {
  border: 2px solid #000000;
}

.view-type-item:active {
  border: 2px solid #000000;
}

.view-type-item .button:focus {
  border: 2px solid #68A2CA;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  margin-bottom: 27px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-group {
  margin-left: 175px;
  border: none;
  color: #ffffff;
  padding-left: 0;
}

.range {
  padding-left: 9px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #61686D;
  margin-top: 29px;
}

.range-input {
  width: 143.5px;
  height: 48px;
  border: 2px solid #ffffff;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  width: 228px;
}


.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -9px;
  left: -6px;
}

.toggle-max {
  top: -8px;
  right: -2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label {
  position: relative;
}

.range-label {
  position: absolute;
  right: 18px;
  bottom: 1px;
  color: #888282;
}

.range-toggle:active {
  outline: 3px solid #83B3D3;
}

.range-toggle:focus {
  outline: 2px solid #83B3D3;
  outline: none;
}

.catalog-item {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  column-gap: 16px;
}

.catalog-card {
  width: 301px;
  height: 398px;
  list-style: none;
  margin: 0;
  padding: 20px;
}

.catalog {
  width: 1056px;
  margin-bottom: 96px;
  padding-left: 73px;
  margin-bottom: 67px;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
}

.name-catalog-type {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  width: 133px;
  margin-bottom: 16px;
}

.catalog-card-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  width: 143px;
  margin-left: 25px;
}

.catalog-card-button-wrapper {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  height: 29px;
  padding-top: 8px;
  border-radius: 4px;
}

.catalog-card-button {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  margin-bottom: 16px;
  margin-left: 20px;
  height: 29px;
  padding-top: 8px;
  border-radius: 4px;
}

.catalog-sort {
  display: flex;
  width: 301px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 15px;
}

.button-insert {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #7DB54F;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  margin-bottom: 16px;
  margin-left: 21px;
  height: 29px;
  padding-top: 8px;
  border-radius: 4px;
}

.stars-fourth {
  background-image: url(../images/star.svg);
  background-repeat: space repeat;
  width: 89px;
  height: 17px;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
}

.stars-third {
  background-image: url(../images/star.svg);
  background-repeat: space repeat;
  width: 67px;
  height: 17px;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
}

.stars-second {
  background-image: url(../images/star.svg);
  background-repeat: space repeat;
  width: 42px;
  height: 17px;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
}

.rating {
  color: #333333;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  width: 140px;
  height: 29px;
  border-radius: 4px;
  text-transform: uppercase;
}

.pagination {
  margin-top: -2px;
  display: flex;
  width: 417px;
  justify-content: space-evenly;
  padding: 0;
  margin-left: -11px;
}

.pagination-select-control {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-top: 29px;
  border-top: 1px solid #e6e6e6;
  width: 1055px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.pagination-item {
  width: 55px;
  height: 55px;
  list-style-type: none;
}

.pagination-link {
  background-color: #83B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-per-page {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  margin-left: auto;
  margin-right: 51px;
  margin-top: auto;
  margin-bottom: auto;
}

.select-control-number {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  width: 160px;
  height: 48px;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 16px;
  border-color: #E5E5E5;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
  padding-left: 20px;
  border-radius: 4px;
}

.newsletter-catalog {
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 65px;
  padding-right: 70px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-catalog.jpeg");
  background-size: 102% auto;
  background-repeat: no-repeat;
}

.main-inner {
  background-color: #ffffff;
}

.search-hotels-intro-button:hover {
  background-color: #615048;
}

.search-hotels-intro-button:focus-visible {
  background-color: #615048;
  outline: none;
}

.search-hotels-intro-button:active {
  background-color: #756157;
  color: #9E9089
}

.catalog-card-button-wrapper:hover {
  background-color: #615048;
}

.catalog-card-button-wrapper:focus-visible {
  background-color: #615048;
  outline: none;
}

.catalog-card-button-wrapper:active {
  background-color: #756157;
  color: #9E9089
}

.button:disabled {
  background-color: #E5E5E5;
}

.catalog-card-button:hover {
  background-color: #68A2CA;
}

.catalog-card-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.catalog-card-button:active {
  background-color: #82B3D3;
  color: #A7CAE0;
}

.button-insert:hover {
  background-color: #6C9E42
}

.button-insert:focus {
  background-color: #6C9E42;
  outline: none;
}

.button-insert:active {
  background-color: #7DB54F;
  color: #A4CB84;
}

.select-button:hover {
  background-color: #68A2CA;
}

.select-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.select-button:active {
  background-color: #82B3D3;
  color: #A7CAE0;
}

.button-navigation:hover {
  background-color: #615048;
}

.button-navigation:focus {
  background-color: #615048;
  outline: none;
}

.button-navigation:active {
  background-color: #756157;
  color: #9E9089
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: #A7CAE0;
}

.pagination-current:hover {
  background-color: #F2F2F2;
}

.pagination-current:focus {
  background-color: #F2F2F2;
  outline: none;
}

.pagination-current:active {
  background-color: #F2F2F2;
  color: #000000;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.newsletter-button:active {
  background-color: #82B3D3;
  color: #A7CAE0;
}

.select-control:hover {
  border: 1px solid #68A2CA;
}

.select-control:focus {
  border: 1px solid #68A2CA;
  outline: none;
}

.select-control:active {
  border: 1px solid #3F5E72;
}

.select-control:disabled {
  border: 1px solid #B3B3B3;
}

.select-control-number:hover {
  border: 1px solid #68A2CA;
}

.select-control-number:focus {
  border: 1px solid #68A2CA;
  outline: none;
}

.select-control-number:active {
  border: 1px solid #3F5E72;
}

.select-control-number:disabled {
  border: 1px solid #B3B3B3;
}

.reset-button:hover {
  color: #C5C7CD;
}

.reset-button:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 2px;
  outline: none;
  z-index: 1;
}

.reset-button:active {
  color: #7F8582;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 242, 242, 0.8);
}

.modal {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #ffffff;
}

.modal-auth {
  width: 715px;
  border-radius: 20px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 56px;
  right: 71px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding-top: 3px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
}

.modal-close-button:active path {
  fill: #a1a1a1;
  outline: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-left: -2px;
  margin-top: -5px;
}

.auth-form .field-group {
  margin: 0;
  padding-top: 4px;
}

.field-group .field-text-news {
  margin-left: 155px;
  margin-bottom: 9px;
}

.field-group input[value] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: 19px;
}

.auth-form .text-wrapper {
  margin-left: 154px;
  color: #ff5757;
  margin-bottom: 10px;
}

.data-form-field {
  padding-left: 5px;
}

.auth-form .data-form-field-input {
  width: 420px;
  height: 50px;
  border: none;
  background-color: #f2f2f2;
  margin-left: 34px;
  padding: 0;
  margin-bottom: -2px;
  border-radius: 4px;
  padding-left: 5px;
  box-sizing: border-box;
  outline: none;
}

.auth-form .data-form-field-input::placeholder {
  padding-left: -1px;
}

.auth-form .data-form-field-output {
  width: 420px;
  height: 50px;
  border: none;
  background-color: #f2f2f2;
  margin-left: 29px;
  padding: 0;
  margin-top: -2px;
  border-radius: 4px;
  padding-left: 5px;
  box-sizing: border-box;
  outline: none;
}

.data-form-field:hover {
  background-color: #e6e6e6;
}

.data-form-field:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.data-form-field:not(:placeholder-shown) {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.auth-form-button {
  width: 575px;
  height: 60px;
  margin-bottom: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fefefe;
  background-color: #83B3D3;
  text-transform: uppercase;
  border: none;
  border-radius: 7px;
  outline: none;
}

.auth-form-button:hover {
  background-color: #68a2ca;
}

.auth-form-button:focus {
  background-color: #68a2ca;
  border:3px solid #756257;
}

.auth-form-button:active {
  color: #95BEDA;
}

.modal-container-close {
  display: none;
}

.field-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.field-group {
  position: relative;
}

.date-button {
  position: absolute;
  right: 15px;
  top: 18px;
  width: 15px;
  height: 15px;
  border: none;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  margin-right: 4px;
}

.date-button-wrapper {
  top: 18px;
}

.field-number::-webkit-outer-spin-button,
.field-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.field-mans .field {
  display: flex;
  position: relative;
  margin-bottom: 40px;
}

.tooltip {
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  position: absolute;
  left: 53px;
  top: 14px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.tooltip {
  position: absolute;
  margin-top: 0px;
  margin-left: 1px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  padding-left: 11px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-icon {
  padding-left: 12px;
  padding-top: 1px;
  color: #242424;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #AF7842;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  text-transform: none;
  border-radius: 8px;
  width: 190px;
  padding: 15px 15px 22px 22px;
  position: initial;
  bottom: 100%;
  margin-bottom: 6px;
  left: 50%;
  transform: translate(-46%, 11%);
  z-index: 1;
  display: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 216px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
  outline: none;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: -6%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.field-mans {
  display: flex;
}

.field-box-wrapper {
  margin-left: 61px;
}

.field-box {
  display: flex;
  width: 133px;
  height: 50px;
  position: relative;
  content: "";
}

.field-wrapper {
  margin-left: 60px;
}

.field-label-children {
  margin-right: 43px;
}

.field-number {
  width: 26px;
  padding-left: 23px;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  padding-right: 45px;
  border-radius: 4px;
}

.field-group {
  margin: 0;
}

.field-text-news {
  margin-top: 5px;
}

.field-button {
  width: 44px;
  height: 50px;
  border: none;
  background-color: #f2f2f2;
}

.minus {
  width: 25px;
  height: 25px;
  margin-top: -1px;
  position: absolute;
  content: "";
  left: 42px;
  top: 14px;
  padding-left: 0px;
  margin-left: -25px;
  right: -17px;
}

.field-button:hover path {
  fill: #000000;
}

.field-button:focus path {
  fill: #000000;
  border: 3px solid #83b3d3;
}

.field-button:active path {
  fill: #cfcfcf;
}

.field-button svg {
  padding-left: 4px;
  padding-bottom: 4px;
}

.minus::before {
  width: 25px;
  height: 25px;
}

.plus {
  width: 25px;
  height: 25px;
  padding-left: 1px;
  padding-top: 3px;
  margin-top: 14px;
  margin-left: -36px;
  border-radius: 4px;
}

.field-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 12px;
}

.field-number[value] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 64px;
}

.data-form-field::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
