@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.page-body {
  width: 1200px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin-bottom: auto;
  margin-top: auto;
}

.user-navigation {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.button-navigation {
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  margin-left: 32.3px;
  margin-right: 70px;
  border: none;
  border-radius: 5px;
}

.navigation-item-search {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 30px;
  margin: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.navigation-item-like {
  margin: 0;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 23.52px;
}

.navigation-item-extra {
  margin: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.image-welcome {
  margin: 51px;
  margin-left: auto;
  margin-right: auto;
}

.navigation-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-item {
  list-style: none;
  margin-right: 34px;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
  margin-left: 70px;
}

.welcome-logo {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/vector.svg), url(../images/index-background.jpg);
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 90px;
}

.intro .intro-title {
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.intro .intro-text {
  width: 653px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.advantages-item {
  list-style: none;
}

.advantages-container-wrapper {
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
}

.advantages-container-wrapper-main {
  width: 400px;
  padding-top: 92px;
  padding-bottom: 92px;
}

.advantages-extra-list {
  display: flex;
  padding: 0;
}

.advantages-extra-list-item {
  width: 400px;
  list-style-type: none;
  padding-top: 182.5px;
  padding-bottom: 79.5px;
}

.advantages-list {
  padding: 0;
  margin: 0;
}


.advantages-items {
  width: 400px;
  list-style-type: none;
  padding-top: 103px;
  padding-bottom: 102px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-serial-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-container-wrapper .advantages-list-text {
  color: #ffffff;
  background-color: #82B3D3;
  margin: 0 auto;
}

.advantages-list-text {
  width: 230px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.advantages-extra-list-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-extra-list-text {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  width: 230px;
  margin: 0 auto;

}

.advantages-extra-list-item-wrapper {
  background-color: #F0F6FA;
}

.advantages-extra-list-first {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position-x: 162.65px;
  background-position-y: 80.5px;
}

.advantages-extra-list-second {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position-x: 162.65px;
  background-position-y: 80.5px;
}

.advantages-extra-list-three {
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  background-position-x: 162.65px;
  background-position-y: 80.5px;
}

.advantages-extra-list-item-tools {
  background-color: #ffffff;
}

.advantages-item-tools {
  background-color: #E6F0F6;
}

.search-hotels-intro {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.search-hotels-intro .search-hotels-intro-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 297px;
  margin: 0;
  margin-bottom: 29px;
}

.search-hotels-intro .search-hotels-intro-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  width: 592px;
  margin: 0;
  margin-bottom: 56px;
}

.search-hotels-intro-button {
  color: #ffffff;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 574px;
  height: 60px;
  margin: 0;
  border: 0;
  border-radius: 5px
}

.newsletter-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-footer.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-index .newsletter-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.newsletter-index .newsletter-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  width: 475px;
  margin: 0px;
  margin-bottom: 46px;
}

.newsletter-input {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  width: 800px;
  height: 60px;
  display: flex;
  flex-direction: row;
}

input[type="text" i] {
  width: 600px;
  height: 60px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  padding: 0;
  border: 0;
  border-radius: 4px 0 0 4px;
  background-color: #e5e5e5;
}

.newsletter-button {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.footer-phone-link {
  color: #000000;
  background-color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

.copyright-link-logo {
  margin-right: 72px;
}

.page-footer {
  display: flex;
  width: 1200px;
  height: 120px;
  align-items: center;
}

.social-list {
  display: flex;
  width: 116px;
  height: 17px;
  list-style: none;
  column-gap: 26px;
  padding: 0;
  margin: 0;
  margin-left: 72px;
  margin-right: 247px;
}

.copyright-link {
  margin-left: 247px;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-catalog.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header .inner-header-title {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-left: -2px;
}

.breadcrumbs {
  margin-top: 0;
  margin-left: 72px;
  display: flex;
  padding: 0;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.breadcrumbs-link-home {
  color: #000000;
  background-color: #ffffff;
  background-image: url(../images/union.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  list-style: none;
}

.filters-fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.filters-fieldset:nth-child(2) {
  margin-left: 70px;
}

.filters-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.filters-legend {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  padding: 0;
}

.filters-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.filters-label {
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

.filters-item {
  list-style: none;
  margin-bottom: 5px;
}

.select-button {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
}

.reset-button {
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  background: transparent;
  border: none;
}

.hotels-sorted {
  text-align: center;
  display: flex;
  padding: 65px 71px 57px 72px;
}

.number-of-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  width: 287px;
  height: 48px;
  margin-right: 78px;
  margin-left: 191px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.view-type-link-first {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/icon-table-1.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.view-type-link-second {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/icon-table-2.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.view-type-link-three {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/icon-table-3.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.view-type-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 163px;
  height: 48px;
  display: flex;
  column-gap: 8px;
}

.view-type-item {
  width: 48px;
  height: 48px;
  border: 1px solid #000000;
  margin: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-item {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.catalog-card {
  width: 301px;
  height: 398px;
  list-style: none;
  margin: 0;
  padding: 20px;
}

.catalog {
  width: 1056px;
  height: 876px;
  margin-bottom: 96px;
  padding-left: 73px;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.name-catalog-type {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  width: 133px;
  margin-bottom: 16px;
}

.catalog-card-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  width: 143px;
  margin-left: 25px;
}

.catalog-card-button-wrapper {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  height: 29px;
  padding-top: 8px;
  border-radius: 4px;
}

.catalog-card-button {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  margin-bottom: 16px;
  margin-left: 21px;
  height: 29px;
  padding-top: 8px;
  border-radius: 4px;
}

.catalog-sort {
  display: flex;
  width: 301px;
  flex-wrap: wrap;
  flex-direction: row;
}

.button-insert {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #7DB54F;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  margin-bottom: 16px;
  margin-left: 21px;
  height: 29px;
  padding-top: 8px;
  border-radius: 4px;
}

.stars {
  width: 140px;
}

.rating {
  color: #333333;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  width: 160px;
  height: 29px;
  border-radius: 4px;
}

.pagination {
  display: flex;
  width: 370px;
  justify-content: space-evenly;
}

.pagination-select-control {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.pagination-item {
  width: 55px;
  height: 55px;
  list-style-type: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  background-color: #83B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-per-page {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  margin-left: auto;
  margin-right: 51px;
  margin-top: auto;
  margin-bottom: auto;
}

.select-control-number {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  width: 160px;
  height: 48px;
  margin-bottom: auto;
  margin-top: auto;
}

.newsletter-catalog {
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-catalog .newsletter-title {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.newsletter-catalog .newsletter-text {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  margin-bottom: 46px;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 65px;
  padding-right: 70px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
